<configuration scan="true" scanPeriod="5 seconds"
			   debug="false">

	<!-- console appender defination -->
	<appender name="console"
			  class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{ISO8601} - %-5p - [%t:%C{1}@%L] - %m%n
			</Pattern>
		</layout>
	</appender>

	<!-- File appender for service -->
	<appender name="appRollingFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/transporter/transporter-analytics/analytics-app.log</file>

		<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/transporter/transporter-analytics/${date:yyyy-MM-dd}/analytics-app-%d{MM-dd-yyyy}-%i.log.gz
			</fileNamePattern>
			<!-- each archived file, size max 1MB -->
			<maxFileSize>100MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>
				%-5level [%date{ISO8601}] [%X{PID}] [%t] %C{1}:%method:%line %msg %n
			</pattern>

		</encoder>
	</appender>

	<!-- File appender for accessLogs -->
	<appender name="accessRollingFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/transporter/transporter-analytics/analytics-access.log</file>

		<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/transporter/transporter-analytics/${date:yyyy-MM-dd}/analytics-access-%d{MM-dd-yyyy}-%i.log.gz
			</fileNamePattern>
			<!-- each archived file, size max 1MB -->
			<maxFileSize>100MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>
				%-5level [%date{ISO8601}] [%X{PID}] [%t] %C{1}:%method:%line %msg %n
			</pattern>

		</encoder>
	</appender>

	<logger name="org.eclipse.jetty.server.RequestLog" level="info" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="accessRollingFile" />
	</logger>

	<logger name="com.shubham" level="info" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="appRollingFile" />
	</logger>

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="appRollingFile" />
	</root>
</configuration>